#cards-container {
	margin: 0 auto;
	max-width: 760px;
}


.img-container {
	position: relative;
	display: inline-block;
	margin-top: 10px;
	margin-right: 1%;
	width: 24%;
	height: 25%;
	/*overflow: hidden;*/
	z-index: 0;
}

.card-hidden:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-color: #777;
	opacity: 1;
	z-index: 1;
}

.img-to-guess {
	width: 100%;
	height: auto;
	
}

#welcome-text {
	text-align: center;
}

.btn-hidden {
	display: none;
}